
hw_05/data/other.csv
hw_05/data/sampleSubmission.csv
hw_05/data/test.csv
hw_05/data/train.csv
hw_05/data/train.csv
hw_05/data/train_processed.csv
hw_05/data/other.txt
hw_05/data/result1.csv
hw_05/data/oter_processed.csv
hw_05/data/rfc_result.csv
hw_05/data/test_processed.csv
hw_05/data/test_processed.zip
hw_05/data/rnd_forest_1750_predict.csv
hw_05/data/X_test.csv
hw_05/data/X_test.csv
hw_05/data/X_test.csv
hw_05/data/frst_predict33.csv
hw_05/data/X_test.csv
hw_05/data/X_test.csv
hw_05/data/X_test.csv
hw_05/data/X_test.csv
hw_05/data/X_test.csv
hw_05/data/lr_predictions_C_0.1.csv
hw_05/data/X_test.csv
hw_05/data/X_test.csv
